<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Semanatica - JOGO</title>
</head>
<body>
    <section class="players">
        <h2>Escolha seu personagem!</h2>
        <div class="player" onclick="window.location.href = '/steve1'">
            <img src="img/steve.jpg" alt="">
            <p>Steve Careca</p>
        </div>
        <div class="player" onclick="window.location.href = '/steve2'">
            <img src="img/steve2.png" alt="">
            <p>Steve Com Cabelo</p>
        </div>
    </section>
</body>
</html>