* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}
.players {
    width: 60%;
    margin: 30px 20%;
    display: flex;
    flex-wrap: wrap;
}
.players h2 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}
.player {
    width: 30%;
    margin: 10%;
    cursor: pointer;
}
.player img {
    width: 100%;
    height: 250px;
    border-radius: 50%;
}
.player p {
    color: white;
    text-align: center;
    padding-top: 20px;
}